- content_for :head do
  - title 'Forums'
.page-header
  .container
    .row.-no-gutter
      .col
        %h1 Forums

.container
  .row
    .col-9
      %h2.forum-title Latest updates
      .topic-list
        - @recent.each do |topic|
          = render :partial => 'mongoid_forums/forums/topic_list_item', :locals => {:topic => topic}

    .col-3
      %a.btn.btn-primary.btn-block New topic?
      - @categories.each do |category|
        %h2
          = category.name
        %ul
        - category.forums.asc(:position).each do |forum|
          %li= link_to forum.name, forum
