.devise-container {
  position: relative;
  min-height: calc(100vh - 157px);
  background: #0B0C0D;
  color: #fff;
  .container {
    position: relative;
    z-index: 2;
    padding-top: 10vh;
    .row {
      margin: 0 -30px;
      .col {
        padding: 0 30px 30px 30px;
      }
    }
  }
  form {
    margin: 50px 0;
    input {
      max-width: 400px;
    }
  }
  .form-control {
    border-color: rgba(255, 255, 255, 0.3);;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
  }
  a {
    opacity: 0.6;
    color: #fff;
    &:hover {
      opacity: 1;
      color: #fff;
    }
  }
}
.devise-bg {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  background-image: linear-gradient(to bottom, $gray-dark 0%, rgba(0,0,0,0) 100%), image-url("home-bg.jpg");
  background-size: cover;
  background-position: center center;
}