// Games
.list-game-playing {
  padding: 50px 0;
  text-align: center;
  background-size: cover;
  background-position: center center;
  color: #fff;
  transition: 0.5s;
  border-radius: $border-radius-base;
  .game-map {
    font-size: $font-size-h2;
    display: inline-block;
    margin: 10px 0;
  }
  &:hover {
    background-color: $gray-light;
    background-blend-mode: hard-light;
    transition: 0.5s;
  }
}



// Game Report
.game-report-header {
  padding: 100px 0;
  // text-align: center;
  color: #fff;
  margin-bottom: 40px;
  small {
    color: inherit;
  }
  .avatar {
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.25);
  }
}

.game-place {
  font-weight: bold;
  margin-bottom: -10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.game-winner {
  .game-place {
    margin-bottom: 22px;
  }
  .avatar {
    float: left;
  }
  .game-winner-info {
    float: right;
    padding-left: 20px;
    width: calc(100% - 150px);
    h2 {
      font-size: 48px;
      margin-top: 10px;
      padding-bottom: 11px;
      margin-bottom: 15px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
    .stat-num {
      font-size: 32px;
      font-weight: 300;
      line-height: 1;
    }
    .stat-desc {
      text-transform: uppercase;
      font-weight: bold;
    }
  }
}

.game-specifics {
  h3 {
    margin-top: 10px;
    margin-bottom: 0;
  }
}

.game-timeline {
  .panel {
    .label {
      margin-right: 10px;
    }
    a {
      color: $text-color;
    }
  }
  .panel-feast {
    background: image-url("timeline/chest.png");
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: right center;
  }
}

.mega-header {
  background-size: cover;
  background: center;
  .page-header {
    border: none;
    background-color: transparentize($gray-dark, 0.3);
    color: #fff;
    margin-top: 0;
    padding-top: 22px;
  }
}