.home-header {
  min-height: calc(100vh - #{$navbar-height});
  background-image: image-url("home-bg.jpg");
  background-position: center;
  background-size: cover;
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  h1 {
    line-height: 1.3;
  }
  .buttons {
    margin-top: 20px;
    .btn {
      background: $brand-primary;
      color: #fff;
      &:hover {
        transform: scale(0.95);
      }
    }
    .create-account {
      margin-top: 5px;
      a {
        color: #fff;
        border-bottom: 2px solid $brand-primary;
        &:hover {
          text-decoration: none;
          padding-bottom: 2px;
        }
      }
    }
  }
}

.home-matches {
  h2 {
    margin-top: 50px;
    margin-bottom: 30px;
  }
  .row-4 {
    padding-bottom: 50px;
  }
}

.navbar {
  margin: 0 !important;
}