.home-header {
  min-height: calc(100vh - #{$navbar-height + 150});
  background-image: image-url("home-bg.jpg");
  background-position: center;
  background-size: cover;
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  .container {
    padding: 100px 0;
  }
  h1 {
    line-height: 1.3;
  }
  .buttons {
    margin-top: 20px;
    .btn {
      background: $brand-primary;
      color: #fff;
      width: 145px;
      margin-bottom: 5px;
      &:hover {
        transform: scale(0.95);
      }
    }
    .create-account {
      margin-top: 5px;
      a {
        display: inline-block;
        color: #fff;
        border: 1px solid $brand-primary;
        border-radius: 4px;
        padding: 1px 5px;
        text-decoration: none;
        &:hover {
          border-color: transparentize($brand-primary, .2)
        }
      }
    }
  }
}

.home-matches {
  h2 {
    margin-top: 50px;
    margin-bottom: 30px;
  }
  .row-4 {
    padding-bottom: 50px;
  }
}

.navbar {
  margin: 0 !important;
}