// Matches
.list-match-playing {
  padding: 50px 0;
  text-align: center;
  background-size: cover;
  background-position: center center;
  color: #fff;
  transition: 0.5s;
  border-radius: $border-radius-base;
  .match-map {
    font-size: $font-size-h2;
    display: inline-block;
    margin: 10px 0;
  }
  &:hover {
    background-color: $gray-light;
    background-blend-mode: hard-light;
    transition: 0.5s;
  }
}



// Match Report
.jumbotron-match-report {
  padding: 100px 0;
  text-align: center;
  background-size: cover;
  background: center;
  color: #fff;
  .avatar {
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.25);
  }
}

.match-timeline {
  .panel {
    .label {
      margin-right: 10px;
    }
    a {
      color: $text-color;
    }
  }
  .panel-feast {
    background: image-url("timeline/chest.png");
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: right center;
  }
}