- reply_to = MongoidForums::Post.find(post.reply_to_id)
In reply to 
= reply_to.user.forum_display_name
%span.text-muted
  = time_ago_in_words(reply_to.created_at)
  ago
%blockquote
  = mongoid_forums_format(reply_to.text)
