%footer
  .footer_bottom
    .container
      %p.pull-left
        %a#copyright © #{Time.now.year} Enviark&trade;
      .pull-right
        #revision
          Current Revision:
          %code #{revision.sha[0..5]}
