%footer
  .footer-signup
    .container.text-center
      Join the HungerStruck community
      %a.btn.btn-white{:href => "#"} Register now
  .footer-top
    .container
      .row-6.-no-gutter-vert
        .col.text-right.footer-left
          .footer-title REVISIONS
          .footer-commit
            #{revision.message}
        .col
          .footer-title SERVER STATUS
          .footer-status
            %i.fa.fa-check-circle
            All servers online
      .footer-menu
        .row-3
          .col
            %ul.list-unstyled
              %li
                %a{:href => "#"} Menu
              %li
                %a{:href => "#"} Menu
              %li
                %a{:href => "#"} Menu
              %li
                %a{:href => "#"} Menu
          .col
            %ul.list-unstyled
              %li
                %a{:href => "#"} Menu
              %li
                %a{:href => "#"} Menu
              %li
                %a{:href => "#"} Menu
              %li
                %a{:href => "#"} Menu
              %li
                %a{:href => "#"} Menu
              %li
                %a{:href => "#"} Menu
          .col
            %ul.list-unstyled
              %li
                %a{:href => "#"} Menu
              %li
                %a{:href => "#"} Menu
              %li
                %a{:href => "#"} Menu
              %li
                %a{:href => "#"} Menu
              %li
                %a{:href => "#"} Menu
  .footer-bottom
    .container
      .row-6.-no-gutter
        .col
          <strong>Hunger</strong>Struck
        .col.text-right
          %a.copyright{href: "https://www.enviark.co/"} © Enviark™ 2015-2016
