%nav.navbar.navbar-default.navbar-static-top
  .container
    .navbar-header
      %a.navbar-brand{href: "/"}
        .navbar-logo= image_tag("logo.svg")
        .navbar-brand-content
          <strong>Hunger</strong>Struck
    %ul.nav.navbar-nav.navbar-right
      %li{class: active_controller('mongoid_forums')}
        = link_to "Forums", mongoid_forums.root_path
      %li{class: active_controller('matches')}
        = link_to "Matches", main_app.matches_path
      - if mongoid_forums_user && mongoid_forums_user.mongoid_forums_admin?
        %li{class: active_controller('admin')}
          = link_to "Admin", mongoid_forums.admin_root_path
