.page-header
  .container
    .row.-no-gutter
      .col
        %h1 Matches
.container
  %h2.page-header Matches in progress
  .row-4
    - @matches.each do |match|
      .col
        .panel.panel-default
          .panel-body
            = link_to "Match #{match.id}", match
  %h2.page-header Past matches