.page-header
  .container
    .row.-no-gutter
      .col
        %h1 Matches
.container
  .row-4
    - 3.times do |i|
      .col
        %a{href: '/matches/1'}
          .list-match-playing{style: "background-image: url(#{image_url('home-bg.jpg')});"}
            %h2= 'Map Name ' + (i + 1).to_s
            .time= rand(3..30).to_s + ':' + rand(10..59).to_s
  %h2.page-header Past matches