.page-header
  .container
    .row.-no-gutter
      .col
        %h1 Match Report

.container
  .jumbotron.jumbotron-match-report{style: "background-image: url(#{image_url('home-bg.jpg')});"}
    %img.avatar{src: "https://mcapi.ca/avatar/2d/Halftone/150"}
    %h2 Halftone won
  .row
    .col
      %strong.text-uppercase Most Kills
      %h3 Halftone
    .col
      %strong.text-uppercase Most blocks broken
      %h3 Halftone
    .col
      %strong.text-uppercase Impressive Accomplishment
      %h3 Halftone
    .col
      %strong.text-uppercase Shortest Time Alive
      %h3 Komp
  .row-6
    .col
      %h2 Ranking
      .panel.panel-default
        %ul.list-group
          - 24.times do |i|
            %a.list-group-item{href: "/p/Halftone"}
              %span.badge= (29 - i).to_s + ":" + rand(10..59).to_s
              .row.-no-gutter
                .col-1= i + 1
                .col-11= SecureRandom.hex
    .col
      %h2 Match statistics