- content_for :head do
  - title 'Home'
  
.home-header
  .container
    .row.-align-hor-center
      .col-5
        %h1
          %strong HungerStruck
          is a Minecraft PVP community
        .buttons
          %a.btn.btn-primary.btn-lg{href: "#"} Start Playing
          .create-account
            or
            = link_to "create an account", new_user_registration_path
