%nav.navbar.navbar-default.navbar-static-top
  .container
    .navbar-header
      %a.navbar-brand{:href => "#"} <strong>Hunger</strong>Struck
    %ul.nav.navbar-nav.navbar-right
      %li
        %a{:href => "#"} Forums
      %li
        %a{:href => "#"} Admin

.home-header
  .container
    .row.-align-hor-center
      .col-5
        %h1
          %strong HungerStruck
          is a Minecraft PVP community
        .buttons
          %a.btn.btn-primary.btn-lg{:href => "#"} Start Playing
          .create-account
            or
            %a{:href => "#"} create an account
