.home-header
  .container
    .row.-align-hor-center
      .col-5
        %h1
          %strong HungerStruck
          is a Minecraft PVP community
        .buttons
          %a.btn.btn-primary.btn-lg{:href => "#"} Start Playing
          .create-account
            or
            %a{:href => "#"} create an account
